<div class="page-header">
<% if user_signed_in? && current_user.admin?  %>

  <%= link_to new_dryer_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Dryer
  <% end %>
  <% end %>
  <h1>Listing dryers</h1>
</div>
<% if user_signed_in?  %>
  <ul class="unavailable_dryers list-group bg-info">
    <h1>My Machines</h1>
    <%= render partial: "shared/machineLink", collection: current_user.dryers.decorate, as: :machine %>
  </ul>
<% end %>
<ul class="available_dryers list-group ">
  <h1>Available Machines</h1>
  <%= render partial: "shared/machineLink", collection: @available_dryers, as: :machine %>
</ul>
<ul class="unavailable_dryers list-group">
  <h1>Unavailable Machines</h1>
  <%= render partial: "shared/machineLink", collection: @dryers.unavailable_machines.decorate, as: :machine %>
</ul>
<%#= link_to 'Edit', edit_dryer_path(dryer) %>
<%#= link_to 'Destroy', dryer, method: :delete, data: { confirm: 'Are you sure?' } %>
