<div class="page-header">
  <%= link_to new_washer_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Washer
  <% end %>
  <h1>Listing washers</h1>
</div>
<% if user_signed_in?  %>
  <ul class="unavailable_washers list-group bg-info">
    <h1>My Machines</h1>
    <%= render partial: "shared/machineLink", collection: current_user.washers.decorate, as: :machine %>
  </ul>
 
<% end %>
<ul class="available_washers list-group ">
  <h1>Available Machines</h1>
  <%= render partial: "shared/machineLink", collection: @available_washers, as: :machine %>
 
    </ul>
    <ul class="unavailable_washers list-group">
      <h1>Unavailable Machines</h1>
      <%= render partial: "shared/machineLink", collection: @washers.unavailable_machines.decorate, as: :machine %>
    </ul>
